body {
  font-family: 'helvetica neue', sans-serif;
  margin: auto;
}

h1 {
  color: #bbb;
  text-align: center;
}

.controls {
  text-align: center;
}

#demo {
  width: 90vw;
  height: 40vh;
  background: #efefef;
  text-align: center;
  padding-top: 14vh;
  margin: auto;
  font-size: 30px;
}
